@font-face {
    font-family: TwitterChirp;
    src: url("/static/fonts/Chirp-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: 'normal';
    font-display: 'swap';
}

body {
    font-family: TwitterChirp, sans-serif;
    margin: 0;
    color: #ece0d0;
    background-color: #0c0c7250;
}

header {
    align-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 90%);
    padding: 3em;
}

nav {
    text-align: center;
    background: #1d9bf0;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1em;
    margin: 1em;
}

nav a {
    padding: 1em;
    color: rgba(0, 0, 0, 90%);
    text-decoration: unset;
    border-radius: 15px;
}

nav a:visited {
    color: rgba(0, 0, 0, 90%);
}

nav a:hover {
    color: #ffffff;
}


footer {
    background: black;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

#content {
    padding: 2em;
    margin: 2em;
    background: rgba(0, 0, 0, 80%);
    text-align: center;
    border-radius: 30px;
    border: solid black;
}

input[type=text], input[type=password] {
    width: 16%;
}

button, input[type=submit], input[type=button] {
    border: 1px solid rgba(0, 0, 255, 60%);
    border-radius: 8px;
    background: #1d9bf0;
    font-family: TwitterChirp, sans-serif;
    font-size: large;
    margin: 1em;
    padding: 5px;
    color: black;
}

button:hover, input[type=submit]:hover, input[type=button]:hover {
    cursor: pointer;
}

div.error {
    border: 1px solid rgba(0, 0, 255, 60%);
    border-radius: 8px;
    background: #1d9bf0;
    color: black;
    text-align: center;
}

#searchtable {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
